
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

/*body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
}*/

/*body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
}*/

body .gist .blob-wrapper {
    border-radius: 0;
}

/*body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}*/

/*body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}*/

/*body .gist .gist-meta {
    display: none;
}*/

/* Better styles for embedding GitHub Gists */
/*body .gist{font-size:13px;line-height:18px;width:53em}
body .gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
body .gist-meta{font-family:Arial,sans-serif;font-size:13px !important}
body .gist-meta a{color:#3b5998 !important;font-weight:bold;text-decoration:none}
body .gist-meta a:hover{text-decoration:underline}
*/
